.container-footer {
    position: relative;
    background: url('all-sun-page-png/ur-bg.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    display:flex;
    width:100vw;
    height: 100vh;
}

.footer-img{
    position: absolute;
    display: flex;
    width: 100%;
    height: 260%;
    left: -43%;
    bottom: -80%;
}

.footer-box{
    position: absolute;
    width: 85%;
    height: 60%;
    left: 7.8%;
    right: 15%;
    top: 20%;
    background-color: rgb(25, 24, 24);
    border-radius: 5%/10%;
    border: 4px;
    border-color: rgb(54, 2, 54);
    border-style: solid;
}

.box-heading{
    position: absolute;
    display: flex;
    top: 7%;
    left: 20%;
    width: 100%;
    font-size: 3.2vw;
    font-family: orbitron;
    font-weight: bold;
}

.box-text{
    position: absolute;
    display: flex;
    left: 20%;
    top: 29%;
    width: 100%;
    font-size: 1.1vw;
    text-align: center;
    font-family: inter;    
}

.email-box{
    position: absolute;
    width: 40%;
    height: 20%;
    top: 50%;
    left: 30%;
    border-radius: 50px 50px;
    background-color: white;
}

.email-space{
    position: absolute;
    width: 65%;
    height: 100%;
    border-radius: 50px 50px;
    background-color: white;
}

.email-text{
    position: absolute;
    top: 36%;
    left: 4%;
    font-size: 1.1vw;
    font-weight: bold;
    color: rgb(62, 61, 61);
    font-family: inter;
    border-style: none;
}

.subs{
    position: absolute;
    right: 4%;
    height: 60%;
    width: 30%;
    top: 15%;
    border-radius: 50px 50px;
    background-color: white;
}

.subs:hover{
    cursor: pointer;
}

.footer-header{
    position: absolute;
    top: 83%;
    right: 0;
    width: 90%;
    height: 20%;
}

.header2 {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    top: 5%;
    max-height: 100px;
    
}

.left2{
    float: left;
    justify-content: space-between;
    width: 23%;
}

.logo{
    float: left;
    margin-top: 4%;
    width: 10%;
}


.header-heading{
    width:80%;
    font-size: 2em;
    font-family: orbitron;
    font-weight: bold;
}

.mid2{
    float: left;
    margin-left: 8%;
    width: 50%;
    font-size: 1em;
    margin-top:1%;
    font-family: inter;
}

.mid2 div {
    margin-right: 8%;
    float:left;
}


.right2{
    float: left;
    margin-top:1%;
    justify-content: space-between;
    font-size: 1em;
    font-family: inter;
}


/* dropdown menu */
.more2 {
    position:relative;
    float:left;
    margin-right: 8%;
}

.dropdown-content2 {
    display:none;
    position: absolute;
    z-index: 1;
}
.dropdown-menu2 {
    background: rgba(32, 32, 32, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(248, 246, 246, 0.1);
    margin-top:15px;
    padding:10px;
}

.dropdown-menu2 a {
    position:relative;
    display: block;
    padding: 5px;
    margin-top:3px;
}
.dropdown-menu2 a:hover {
    background-color: black;
    color: white;
}
.more2:hover .dropdown-content2 {
    display:block;
}

.more2:hover{
    cursor: pointer;
}
/* dropdown menu over */