:root {
    --fpleftml: 190px;
    --fplogomt: 40px;
    --fplogoheight: 25px;
    --fphhfs: 35px;
    --fphhmt: 30px;
    --fpmidfs: 20px;
    --fpmidpt: 30px;
    --fpmidpl: 100px;
    --fpmidamr: 40px;
    --fprightpr: 100px;
    --fpbuttont: 500px;
    --fpbuttonl: 650px;
    --fpbuttonw: 200px;
    --fpt1t: 130px;
    --fpt1l: 420px;
    --fpt1fs: 65px;
    --fpt2t: 400px;
    --fpt2l: 300px;
    --fpt2fs: 17px;
    --fpplanet1t: 20px;
    --fpplanet1w: 140px;
    --fpplanet2t: 180px;
    --fpplanet2w: 280px;
    --fpplanet3t: 615px;
    --fpplanet3w: 115px;
    --fpplanet4t: 600px; 
    --fpplanet4l: 620px;
    --fpplanet4w: 250px;
    --fpplanet5t: 470px;
    --fpplanet5w: 300px;
    --fpplanet5r: 0px;
    --fpplanet6t: 90px;
    --fpplanet6w: 220px;
    --fpplanet6r: 0px;
    --fpplanet7t: 130px;
    --fpplanet7w: 145px;
    --fpplanet7r: 560px;
    --fpplanet8t: 370px;
    --fpplanet8w: 70px;
    --fpplanet8l: 300px;
}

@media screen and (max-width: 768px) {
:root {
    --fpleftml: 190px;
    --fplogomt: 40px;
    --fplogoheight: 25px;
    --fphhfs: 35px;
    --fphhmt: 30px;
    --fpmidfs: 20px;
    --fpmidpt: 30px;
    --fpmidpl: 100px;
    --fpmidamr: 40px;
    --fprightpr: 100px;
    --fpbuttont: 500px;
    --fpbuttonl: 650px;
    --fpbuttonw: 200px;
    --fpt1t: 130px;
    --fpt1l: 420px;
    --fpt1fs: 65px;
    --fpt2t: 400px;
    --fpt2l: 300px;
    --fpt2fs: 17px;
    --fpplanet1t: 20px;
    --fpplanet1w: 25px;
    --fpplanet2t: 180px;
    --fpplanet2w: 280px;
    --fpplanet3t: 615px;
    --fpplanet3w: 115px;
    --fpplanet4t: 600px; 
    --fpplanet4l: 620px;
    --fpplanet4w: 250px;
    --fpplanet5t: 470px;
    --fpplanet5w: 300px;
    --fpplanet5r: 0px;
    --fpplanet6t: 90px;
    --fpplanet6w: 220px;
    --fpplanet6r: 0px;
    --fpplanet7t: 130px;
    --fpplanet7w: 145px;
    --fpplanet7r: 560px;
    --fpplanet8t: 370px;
    --fpplanet8w: 70px;
    --fpplanet8l: 300px;
}
}

html {
    scroll-behavior: smooth;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: white;
}


.container {
    position: relative;
    background: url('all png/bg-pg1.png') no-repeat center center;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-color: black;
    scrollbar-width: thin;
}


.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left{
    display: flex;
    justify-content: space-between;
    margin-left: var(--fpleftml);
}

.logo{
    margin-top: var(--fplogomt);
    height: var(--fplogoheight);
}


.header-heading{
    font-size: var(--fphhfs);
    margin-top: var(--fphhmt);
    font-family: orbitron;
    font-weight: bold;
}

.mid{
    display: flex;
    justify-content: space-between;
    font-size: var(--fpmidfs);
    padding-top: var(--fpmidpt);
    padding-left: var(--fpmidpl);
    font-family: inter;
}

.mid a {
    margin-right: var(--fpmidamr);
}

.right{
    display: flex;
    justify-content: space-between;
    font-size: var(--fpmidfs);
    font-family: inter;
    padding-right: var(--fprightpr);
    padding-top: var(--fpmidpt)
}




.button {
    position: absolute;
    left: var(--fpbuttonl);
    top: var(--fpbuttont);
    width: var(--fpbuttonw);
}

button:hover {
    cursor: pointer;
}

.text1 {
    position: absolute;
    top: var(--fpt1t);
    left: var(--fpt1l);
    font-size: var(--fpt1fs);
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.text2 {
    position: absolute;
    top: var(--fpt2t);
    left: var(--fpt2l);
    font-size: var(--fpt2fs);
    font-family: inter;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}






.planet1 {
    position: absolute;
    width: var(--fpplanet1w);
    top: var(--fpplanet1t);
}

.planet2 {
    position: absolute;
    top: var(--fpplanet2t);
    width: var(--fpplanet2w);
}

.planet3 {
    position: absolute;
    top: var(--fpplanet3t);
    width: var(--fpplanet3w);
}

.planet4 {
    position: absolute;
    top: var(--fpplanet4t);
    left: var(--fpplanet4l);
    width: var(--fpplanet4w);
}

.planet5 {
    position: absolute;
    right: var(--fpplanet5r);
    top:var(--fpplanet5t);
    width: var(--fpplanet5w);
}

.planet6 {
    position: absolute;
    right: var(--fpplanet6r);
    top: var(--fpplanet6t);
    width: var(--fpplanet6w);
}

.planet7 {
    position: absolute;
    right: var(--fpplanet7r);
    top: var(--fpplanet7t);
    width: var(--fpplanet7w);
}

.planet8 {
    position: absolute;
    left:var(--fpplanet8l);
    top: var(--fpplanet8t);
    width: var(--fpplanet8w);
}



.wrap-layer1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shade1 {
    position: absolute;
    width: 1800px;
    height: 900px;
}

.shade1 img {
    position: absolute;
    right: 250px;
    height: 100%;
    top: 0;
}

.sun {
    position: absolute;
    width: 1500px;
    height: 400px;

}

.sun img {
    position: absolute;
    right: 250px;
    bottom: 0;
    height: 100%;

}

.sun-heading {
    position: absolute;
    right: 0;
    margin-top: 300px;
    width: 1400px;
    font-size: 37px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.sun-text {
    position: absolute;
    right: 0;
    margin-top: 440px;
    width: 1400px;
    font-size: 12px;
    font-family: inter;
}

.wrap-layer2 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/Mercury-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mercury {
    position: absolute;
    left: 0;
    width: 780px;
    height: 700px;
    margin-top: 10px;
}

.mercury img {
    position: absolute;
    right: 250px;
    height: 100%;
    top: 0;
}

.merc-heading {
    position: absolute;
    right: 0;
    margin-top: 70px;
    width: 900px;
    font-size: 70px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.merc-text {
    position: absolute;
    right: 0;
    margin-top: 190px;
    width: 900px;
    font-size: 17px;
    font-family: inter;
}

.merc-stats {
    position: absolute;
    width: 890px;
    height: 550px;
    margin-top: 300px;
}

.merc-stats {
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
}

.wrap-layer3 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/Venus-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.venus {
    position: absolute;
    width: 2100px;
    height: 1150px;
    margin-top: 10px;
}

.venus img {
    position: absolute;
    right: 250px;
    height: 100%;
    top: 0;
}

.venus-heading {
    position: absolute;
    right: 0;
    margin-top: 25px;
    width: 1400px;
    font-size: 37px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.venus-text {
    position: absolute;
    right: 0;
    margin-top: 190px;
    width: 1400px;
    font-size: 12px;
    font-family: inter;
}

.venus-stats {
    position: absolute;
    right: 800px;
    height: 100%;
    top: 310px;
}

.wrap-layer4 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/Earth-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shade {
    position: absolute;
    width: 1510px;
    height: 370px;
    margin-top: 390px;
}

.shade img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.earth {
    position: absolute;
    width: 1475px;
    height: 450px;
    margin-top: 310px;
}

.earth img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.rocket {
    position: absolute;
    width: 380px;
    height: 180px;
    margin-top: 405px;
}

.rocket img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.arrow {
    position: absolute;
    width: 1290px;
    height: 150px;
    margin-top: 240px;
}

.arrow img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.earth-stat {
    position: absolute;
    width: 1590px;
    height: 180px;
    margin-top: 40px;
}

.earth-stat img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.moon-heading {
    position: absolute;
    right: 0;
    margin-top: 235px;
    width: 880px;
    font-size: 20px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.moon-text {
    position: absolute;
    right: 0;
    margin-top: 310px;
    width: 1220px;
    font-size: 10px;
    font-family: inter;
}

.earth-heading {
    position: absolute;
    right: 0;
    margin-top: 0px;
    width: 1440px;
    font-size: 35px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.earth-text {
    position: absolute;
    right: 0;
    margin-top: 150px;
    width: 1440px;
    font-size: 10px;
    font-family: inter;
}

.wrap-layer5 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/mars-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mars {
    position: absolute;
    width: 710px;
    height: 430px;
    margin-top: 297px;
}

.mars img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.mars-stat1 {
    position: absolute;
    width: 1610px;
    height: 150px;
    margin-top: 80px;
}

.mars-stat1 img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.mars-stat2 {
    position: absolute;
    width: 1610px;
    height: 183px;
    margin-top: 290px;
}

.mars-stat2 img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.mars-stat3 {
    position: absolute;
    width: 1610px;
    height: 183px;
    margin-top: 520px;
}

.mars-stat3 img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.mars-arrow {
    position: absolute;
    width: 750px;
    height: 60px;
    margin-top: 360px;
}

.mars-arrow img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.mars-heading {
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 1410px;
    font-size: 37px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.mars-text {
    position: absolute;
    right: 0;
    margin-top: 160px;
    width: 1410px;
    font-size: 12px;
    font-family: inter;
}

.mars-moon {
    position: absolute;
    right: 0;
    margin-top: 390px;
    width: 930px;
    font-size: 20px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.mars-moon-text {
    position: absolute;
    right: 0;
    margin-top: 470px;
    width: 930px;
    font-size: 12px;
    font-family: inter;
}

.wrap-layer6 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/Jup-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jup {
    position: absolute;
    width: 1705px;
    height: 730px;
    margin-top: 0px;
}

.jup img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.jup-heading {
    position: absolute;
    right: 0;
    margin-top: 90px;
    width: 1410px;
    font-size: 77px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.jup-text {
    position: absolute;
    right: 0;
    margin-top: 215px;
    width: 1400px;
    font-size: 18px;
    font-family: inter;
}

.jup-stat1{
    position: absolute;
    width: 1205px;
    height: 30px;
    margin-top: 525px;
}

.jup-stat1 {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.jup-stat2{
    position: absolute;
    width: 1205px;
    height: 30px;
    margin-top: 325px;
}

.jup-stat2 {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.wrap-layer7 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer7 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/Saturn-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sat {
    position: absolute;
    width: 1045px;
    height: 760px;
    margin-top: 0px;
}

.sat img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.sat-heading {
    position: absolute;
    right: 0;
    margin-top: 70px;
    width: 480px;
    font-size: 77px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.sat-text {
    position: absolute;
    right: 0;
    margin-top: 200px;
    width: 840px;
    font-size: 18px;
    font-family: inter;
}

.sat-stat2{
    position: absolute;
    width: 255px;
    height: 30px;
    margin-top: 525px;
}

.sat-stat2 {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.sat-stat1{
    position: absolute;
    width: 255px;
    height: 30px;
    margin-top: 325px;
}

.sat-stat1 {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.wrap-layer8 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer8 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/ur-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ur {
    position: absolute;
    width: 1745px;
    height: 460px;
    margin-top: 267px;
}

.ur img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.ur-heading {
    position: absolute;
    right: 0;
    margin-top: 77px;
    width: 1430px;
    font-size: 67px;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: centre;
    text-align: center;
}

.ur-text {
    position: absolute;
    right: 0;
    margin-top: 190px;
    width: 1430px;
    font-size: 18px;
    font-family: inter;
}

.ur-stat{
    position: absolute;
    width: 555px;
    height: 30px;
    margin-top: 77px;
}

.ur-stat {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.text-layer9 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: aliceblue;
    z-index: 2;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-layer9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('all-sun-page-png/ur-bg.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nep {
    position: absolute;
    width: 1465px;
    height: 930px;
}

.nep img {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}

.nep-stat{
    position: absolute;
    width: 1075px;
    height: 30px;
    margin-top: 237px;
}

.nep-stat {
    position: absolute;
    right: 200px;
    height: 100%;
    top: 0px;
}



/* dropdown menu */
.more {
    position:relative;
    display:inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    z-index: 1;
    top: 15px;
}
.dropdown-menu {
    background: rgba(47, 2, 70, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(248, 246, 246, 0.1);
    margin-top:15px;
    padding:15px;
}

.more:hover .dropdown-content {
    display: block;
}

.more:hover{
    cursor: pointer;
}
.morelink {
    padding:20px;
}

/* dropdown menu */
