html {
    scroll-behavior: smooth;
    color: aliceblue;
    font-size: var(--fontsize);
}


a{
    text-decoration: none;
    color: white;
}

:root {
    --fontsize: 1vw;
    --fpleftml: 10%;
    --fplogomt: 5%;
    --fplogoheight: 100%;
    --fphhfs: 2.5vw;
    --fphhmt: 12%;
    --fpmidfs: 1.1vw;
    --fpmidpt: 2.5%;
    --fpmidamr: 20%;
    --fprightpr: 10%;
    --fpbuttont: 65%;
    --fpbuttonl: 44%;


    --fpt1t: 20%;
    --fpt1w: 100%;
    --fpt1fs: 4em;


    --fpt2t: 55%;
    --fpt2w: 100%;
    --fpt2fs: 1em;


    --fpplanet1t: 5%;
    --fpplanet1h: 20%;
    --fpplanet2t: 28%;
    --fpplanet2h: 60%;
    --fpplanet3t: 85%;
    --fpplanet3h: 15%;
    --fpplanet4t: 80%; 
    --fpplanet4l: 40%;
    --fpplanet4h: 20%;
    --fpplanet5t: 60%;
    --fpplanet5h: 40%;
    --fpplanet5r: 0px;
    --fpplanet6t: 10%;
    --fpplanet6h: 55%;
    --fpplanet6r: 0px;
    --fpplanet7t: 17%;
    --fpplanet7h: 20%;
    --fpplanet7r: 40%;
    --fpplanet8t: 53%;
    --fpplanet8h: 10%;
    --fpplanet8l: 15%;
}

@media screen and (max-width: 1080px) {

.container-index {
    max-height: 200px;

}

.container-sun {
    max-height: 200px;
}

.container-mercury {
    max-height: 200px;
}

.container-venus {
    max-height: 200px;
}

.container-earth {
    max-height: 200px;
}

.container-mars {
    max-height: 200px;
}

.container-jupiter {
    max-height: 200px;
}

.container-saturn {
    max-height: 200px;
}

.container-uranus {
    max-height: 200px;
}

.container-neptune {
    max-height: 200px;
}

.container-footer{
    max-height: 200px;
}

}

.container-index {
    position: relative;
    background: url('all png/bg-pg1.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    width:100vw;
    height: 100vh;
}


.header {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    top: 5%;
    left: 10%;
    max-height: 100px;
    
}

.left{
    float: left;
    justify-content: space-between;
    width: 23%;
}

.logo{
    float: left;
    margin-top: 4%;
    width: 10%;
}


.header-heading{
    width:80%;
    font-size: 2.5em;
    font-family: orbitron;
    font-weight: bold;
    margin-left: 12%;
}

.mid{
    float: left;
    margin-left: 6%;
    width: 50%;
    justify-content: space-between;
    font-size: 1.2em;
    margin-top:1%;
    font-family: inter;
   
   
}

.mid div {
    margin-right: 8%;
    float:left;
}


.right{
    float: left;
    margin-top:1%;
    justify-content: space-between;
    font-size: 1.2em;
    font-family: inter;
}


/* dropdown menu */
.more {
    position:relative;
    float:left;
    margin-right: 8%;
}

.dropdown-content {
    display:none;
    position: absolute;
    z-index: 1;
}
.dropdown-menu {
    background: rgba(47, 2, 70, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(248, 246, 246, 0.1);
    margin-top:15px;
    padding:10px;
}

.dropdown-menu a {
    position:relative;
    display: block;
    padding: 5px;
    margin-top:3px;
}
.dropdown-menu a:hover {
    background-color: black;
    color: white;
}
.more:hover .dropdown-content {
    display:block;
}

.more:hover{
    cursor: pointer;
}
/* dropdown menu over */


.button-container {
    position:absolute;
    display: flex;
    width:20%;
    height:10%;
    left: 40%;
    top: 65%;
    justify-content: center;
    display: flex;
    background: url('all png/Button.png') no-repeat center center;
    background-size: contain;
}



.button-container:hover {
    cursor: pointer;
}

.text1 {
    position: absolute;
    display: flex;
    top: var(--fpt1t);
    font-size: var(--fpt1fs);
    width: 100%;
    height: 30%;
    font-family: orbitron;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.text2 {
    position: absolute;
    display: flex;
    top: var(--fpt2t);
    width: 100%;
    height: 10%;
    font-size: var(--fpt2fs);
    font-family: inter;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    
}



.planet1 {
    position: absolute;
    display: flex;
    top: 6%;
    left:0;
    height: 23.24%;
    width: auto;
    overflow: hidden;
}


.planet2 {
    display: flex;
    position: absolute;
    top: 28%;
    height:51%;
    width: auto;
    left:0;
    overflow: hidden;
}

.planet3 {
    display: flex;
    position: absolute;
    bottom:0;
    left:0;
    height: 13.5%;
    width: auto;
    overflow: hidden;
}

.planet4 {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 40%;
    height: 14%;
    width: auto;
    overflow: hidden;
}

.planet5 {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 32%;
    width: auto;
    overflow: hidden;
}

.planet6 {
    display: flex;
    position: absolute;
    right: 0;
    top: 14%;
    height: 40.5%;
    width: auto;
    overflow: hidden;
}

.planet7 {
    display: flex;
    position: absolute;
    left: 52%;
    top: 12%;
    height: 13.5%;
    width: auto;
    overflow: hidden;
}

.planet8 {
    display: flex;
    position: absolute;
    left:20%;
    top: 45%;
    height: 6%;
    width: auto;
    overflow: hidden;
}

/*back to top buttom*/

.back-to-top {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 5;
    background-color: black;
    padding: 0.5%;
    font-size: 1em;
    font-family: orbitron;
    opacity: 0.65;
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
    border-color: black;
}

.back-to-top:hover {
    opacity: 0.9;
    border-color: purple;
    box-shadow: 1px 1px 1px 1px white ;
 

}




